body {
height: 100%;
margin: 0;
font-family:sans-serif;
background: #D2D2D2 50% 50% fixed;
background-size: 100% 100%;
}
input { font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:18px;}
a { outline:none; text-decoration:none;}

.page {
min-height: 100%;
}
.banner {
width: 465px;
height: 108px;
background: #ABA49F;
}
.main {
width: 465px;
height: 345px;
position: absolute;
top: 46%;
left: 50%;
margin-top: -173px;
margin-left: -233px;
background: rgb(1,35,68);
background: -moz-linear-gradient(top, rgba(1,35,68,1) 0%, rgba(0,72,144,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,35,68,1)), color-stop(100%,rgba(0,72,144,1)));
background: -webkit-linear-gradient(top, rgba(1,35,68,1) 0%,rgba(0,72,144,1) 100%);
background: -o-linear-gradient(top, rgba(1,35,68,1) 0%,rgba(0,72,144,1) 100%);
background: -ms-linear-gradient(top, rgba(1,35,68,1) 0%,rgba(0,72,144,1) 100%);
background: linear-gradient(to bottom, rgba(1,35,68,1) 0%,rgba(0,72,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012344', endColorstr='#004890',GradientType=0 );
}
.box {
overflow: hidden;
padding: 15px 55px 15px 55px;
height: 208px;
background:#69665E;
}
.box h2 { color:#fff; font-size:18px; margin:0; padding:0 0 10px 0; font-weight:bold; outline:none;}
.box h3 { color:#fff; font-size:14px; line-height:20px; margin:0; padding:0; font-weight:normal; outline:none;}

.form { margin:0; padding:0;}
.form fieldset { border:none; padding: 10px 0 0; margin:0;}
.form .row { width: 350px; margin-bottom:6px; position:relative; line-height:33px;}

.form .row input[type="text"], .form .row input[type="password"] { height:33px; line-height:33px; border:1px solid #fff;}
.form .row input[type="text"]:focus, .form .row input[type="text"]:hover, .form .row input[type="password"]:focus, .form .row input[type="password"]:hover { border:1px solid #298abd; box-shadow: 0 0 5px #b8d564, 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px #b8d564, 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px #b8d564, 0 2px 2px rgba(0,0,0,.1) inset;}
.form .row input.login { width:340px; padding: 1px 5px 1px 5px;}
.form .row input.password { width:340px; padding: 1px 5px 1px 5px; }
.form .row input.error { border:1px solid #eb9393; box-shadow: 0 0 5px #f7c4c4; -moz-box-shadow: 0 0 5px #f7c4c4; -webkit-box-shadow: 0 0 5px #f7c4c4; background-color:#fce4e4; }

.form .row a.forgot { position:absolute; top:2px; right:10px; color:#909090; font-size:12px; text-shadow:1px 1px 1px #fff;}
.form .row a.forgot:hover { color:#6e6e6e;}
.form .row input[type="checkbox"] { display:block; float:left; margin: 9px 6px 9px 2px; }
.form .row label { color:#fff; font-size:14px; display:block; float:left; }
.form .row input[type="submit"] { cursor: pointer; color: #fff; border: 0px solid #289cb8; background: #298abd; font-size: 16px; padding: 5px 20px; font-weight: bold; float: right; }
.form .row input[type="submit"]:hover { background:#51b1c7; }

.copy { float:right; color:#9eabae; font-size:12px; margin:10px 16px 0 0; text-shadow:1px 1px 1px #fff;}

.menu {
height: 25px;
}
.menu a {
width: 60%;
font-size: 18px;
color: #fff !important;
border-left: 5px solid #288BBD;
padding-left: 5px;
background-image;
background-repeat: no-repeat;
background-size: 21px;
background-position: -25px;
transition: all 1s ease;
}
.menu a:hover {
padding: 2px 10px 2px 0;
font-size: 18px;
border-left: 0px solid #288BBD;
padding-left: 30px;
color: #fff;
background-color: #288BBD;
background-image:;
background-repeat: no-repeat;
background-size: 21px;
background-position: 0px;
transition-property: padding-left, background-image, background-position, background-color;
}
a:link, a:visited {
text-decoration:none;
cursor:pointer;
color:#333333;
}

a:hover {
text-decoration:none;
cursor:pointer;
color:#333333;
}
